# Content Based Recommendation System

# Q1 Read the Dataset `movies_metadata.csv`

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
movies_ratings_df = pd.read_csv("movies_metadata-1.csv",encoding = "ISO-8859-1")

In [4]:
movies_ratings_df.shape

(45466, 24)

In [5]:
movies_ratings_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [6]:
movies_ratings_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0


# Q2 Create a new column with name 'description' combining 'overview' and 'tagline' columns in the given dataset

In [7]:
movies_ratings_df['description'] = movies_ratings_df['overview'].astype(str) + movies_ratings_df['title']

# Q3  Lets drop the null values in `description` column

In [8]:
movies_ratings_df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
description                  6
dtype: int64

In [9]:
movies_ratings_df.dropna(subset=['description'], inplace = True)

In [10]:
movies_ratings_df.shape

(45460, 25)

# Q4 Keep the first occurance and drop duplicates of each title in column 'title'

In [11]:
movies_ratings_df.drop_duplicates(subset=['title'], inplace = True)

In [12]:
movies_ratings_df.shape

(42277, 25)

In [13]:
movies_ratings_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
description               object
dtype: object

# Q5   As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [14]:
movies_ratings_df.reset_index(drop=True, inplace=True)

In [15]:
movies_ratings_df.shape

(42277, 25)

# Q6    Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

Hint:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0)
tf_idf_vect.fit(movies_ratings_df['description'])
title_matrix = tf_idf_vect.transform(movies_ratings_df['description'])

In [17]:
features = tf_idf_vect.get_feature_names()
features

['00',
 '00 blood',
 '00 blood sweat',
 '00 body',
 '00 body vanish',
 '00 editor',
 '00 editor jabez',
 '00 foot',
 '00 foot tall',
 '00 furnish',
 '00 furnish ascent',
 '00 middle',
 '00 middle dance',
 '00 pm',
 '00 pm 12',
 '00 pm clock',
 '00 rescue',
 '00 rescue dr',
 '00 schneider',
 '00 schneider asked',
 '00 schneider jagd',
 '00 wakening',
 '00 wakening trailblazer',
 '000',
 '000 00',
 '000 00 editor',
 '000 000',
 '000 000 bloody',
 '000 000 brazilian',
 '000 000 cash',
 '000 000 citizens',
 '000 000 dollars',
 '000 000 fmk',
 '000 000 instead',
 '000 000 instructions',
 '000 000 kroner',
 '000 000 pounds',
 '000 000 rebuild',
 '000 000 stashed',
 '000 000 stolen',
 '000 000 tournament',
 '000 000 worth',
 '000 000 years',
 '000 002',
 '000 24',
 '000 24 hours',
 '000 30',
 '000 30 000',
 '000 300',
 '000 300 spartans',
 '000 50',
 '000 50 000',
 '000 accept',
 '000 accept denard',
 '000 additional',
 '000 additional tons',
 '000 aliens',
 '000 aliens newcomers',
 '000 american',
 '000 american volunteers',
 '000 americans',
 '000 americans bad',
 '000 amphetamines',
 '000 amphetamines csbtarkan',
 '000 anti',
 '000 anti homosexual',
 '000 army',
 '000 army rider',
 '000 artists',
 '000 artists nazi',
 '000 athletes',
 '000 athletes high',
 '000 attractive',
 '000 attractive young',
 '000 australia',
 '000 australia things',
 '000 ballard',
 '000 ballard seeks',
 '000 bank',
 '000 bank close',
 '000 bank robbery',
 '000 bank works',
 '000 bc',
 '000 best',
 '000 best friend',
 '000 bet',
 '000 bet supplies',
 '000 bet write',
 '000 black',
 '000 black men',
 '000 bloody',
 '000 bloody past',
 '000 bottles',
 '000 bottles whisky',
 '000 boxes',
 '000 boxes meticulously',
 '000 boys',
 '000 boys including',
 '000 brazilian',
 '000 brazilian real',
 '000 buried',
 '000 buried california',
 '000 buy',
 '000 buy land',
 '000 bystanders',
 '000 bystanders besieged',
 '000 calls',
 '000 calls month',
 '000 cash',
 '000 cash 30',
 '000 cash decide',
 '000 cash prize',
 '000 charity',
 '000 charity chairs',
 '000 chinese',
 '000 chinese nanjing',
 '000 chinese restaurants',
 '000 citizens',
 '000 citizens don',
 '000 contestants',
 '000 contestants flock',
 '000 conversations',
 '000 conversations overheard',
 '000 criminals',
 '000 criminals working',
 '000 cruise',
 '000 cruise ships',
 '000 date',
 '000 date plan',
 '000 days',
 '000 days ago',
 '000 days earth',
 '000 dead',
 '000 dead countries',
 '000 deaths',
 '000 deaths occupied',
 '000 debt',
 '000 debt durell',
 '000 debt going',
 '000 decides',
 '000 decides return',
 '000 deposited',
 '000 deposited solicitor',
 '000 dirty',
 '000 dirty rotten',
 '000 disabled',
 '000 disabled sailors',
 '000 distanceÃ¢',
 '000 distanceÃ¢ confrontation',
 '000 dm',
 '000 dm subway',
 '000 dollars',
 '000 dollars massacre',
 '000 dollars overtaken',
 '000 dollars stolen',
 '000 dollars thousand',
 '000 dotting',
 '000 dotting nation',
 '000 dream',
 '000 dream house',
 '000 eye',
 '000 eye operation',
 '000 eyes',
 '000 eyes dr',
 '000 families',
 '000 families live',
 '000 fans',
 '000 fans consol',
 '000 fans flocked',
 '000 fans state',
 '000 fathoms',
 '000 fathoms 1953',
 '000 fearing',
 '000 fearing story',
 '000 feet',
 '000 feet alaska',
 '000 feet atlantic',
 '000 feet child',
 '000 feet height',
 '000 feet ocean',
 '000 feet play',
 '000 feet silent',
 '000 feet twilight',
 '000 films',
 '000 films new',
 '000 films year',
 '000 finds',
 '000 finds diamonds',
 '000 fingers',
 '000 fingers dr',
 '000 floating',
 '000 floating castle',
 '000 fmk',
 '000 fmk meets',
 '000 followers',
 '000 followers twitter',
 '000 foot',
 '000 foot fall',
 '000 foot mountain',
 '000 foot submarine',
 '000 forbidden',
 '000 forbidden fellow',
 '000 francs',
 '000 francs national',
 '000 francs rid',
 '000 francs tapes',
 '000 french',
 '000 french soldiers',
 '000 french youth',
 '000 fulfill',
 '000 fulfill dream',
 '000 girl',
 '000 girl meets',
 '000 girls',
 '000 girls forced',
 '000 gold',
 '000 gold bars',
 '000 gold blackmail',
 '000 gold guarded',
 '000 gone',
 '000 gone american',
 '000 grand',
 '000 grand prize',
 '000 greeks',
 '000 greeks troy',
 '000 grueling',
 '000 grueling miles',
 '000 gunpoint',
 '000 gunpoint captain',
 '000 head',
 '000 head cattle',
 '000 hidden',
 '000 hidden days',
 '000 hide',
 '000 hide money',
 '000 hits',
 '000 hits age',
 '000 hock',
 '000 hock turn',
 '000 hour',
 '000 hour price',
 '000 hours',
 '000 hours training',
 '000 hours video',
 '000 hybrid',
 '000 hybrid rattlesnakes',
 '000 impersonates',
 '000 impersonates man',
 '000 indian',
 '000 indian hating',
 '000 indie',
 '000 indie record',
 '000 instead',
 '000 instead expected',
 '000 instructions',
 '000 instructions check',
 '000 intending',
 '000 intending deposit',
 '000 investor',
 '000 investor shadowy',
 '000 involved',
 '000 involved attractive',
 '000 israelis',
 '000 israelis arabs',
 '000 jackpot',
 '000 jackpot sour',
 '000 jarret',
 '000 jarret gang',
 '000 jeff',
 '000 jeff pay',
 '000 jews',
 '000 jews squeeze',
 '000 jobs',
 '000 jobs details',
 '000 john',
 '000 john friend',
 '000 kids',
 '000 kids adults',
 '000 kill',
 '000 kill intrigued',
 '000 killed',
 '000 killed killer',
 '000 kilometers',
 '000 kilometers social',
 '000 kilometre',
 '000 kilometre country',
 '000 kilometre road',
 '000 km',
 '000 kroner',
 '000 kroner supposed',
 '000 latvians',
 '000 latvians melanie',
 '000 leagues',
 '000 leagues sea',
 '000 leave',
 '000 leave town',
 '000 life',
 '000 life savings',
 '000 life things',
 '000 light',
 '000 light year',
 '000 limited',
 '000 limited cinematic',
 '000 lobbyists',
 '000 lobbyists eu',
 '000 loser',
 '000 loser endure',
 '000 lost',
 '000 lost son',
 '000 lottery',
 '000 lottery enable',
 '000 machine',
 '000 machine sentinels',
 '000 manage',
 '000 manage live',
 '000 mark',
 '000 mark instead',
 '000 marks',
 '000 marks leaves',
 '000 men',
 '000 men city',
 '000 men crossed',
 '000 men dead',
 '000 men join',
 '000 mennesker',
 '000 mennesker anden',
 '000 meter',
 '000 meter race',
 '000 mexico',
 '000 mexico free',
 '000 mile',
 '000 mile journey',
 '000 mile migration',
 '000 mile return',
 '000 miles',
 '000 miles away',
 '000 miles earth',
 '000 miles hinterlands',
 '000 miles perform',
 '000 miles running',
 '000 miles starring',
 '000 miles unspoilt',
 '000 money',
 '000 money michael',
 '000 money missing',
 '000 money production',
 '000 money unfortunately',
 '000 monthly',
 '000 monthly salary',
 '000 mortgaged',
 '000 mortgaged 30',
 '000 movie',
 '000 multiple',
 '000 multiple felony',
 '000 nanking',
 '000 nanking shows',
 '000 naturally',
 '000 naturally winds',
 '000 nest',
 '000 nest egg',
 '000 new',
 '000 new babies',
 '000 order',
 '000 order save',
 '000 ottoman',
 '000 ottoman empire',
 '000 outfit',
 '000 outfit condition',
 '000 paid',
 '000 paid arrival',
 '000 paris',
 '000 paris women',
 '000 parking',
 '000 parking lot',
 '000 passengers',
 '000 passengers days',
 '000 people',
 '000 people aftershock',
 '000 people die',
 '000 people globe',
 '000 people interviews',
 '000 people lost',
 '000 people mexicoÃ¢',
 '000 people old',
 '000 people philadelphia',
 '000 people sees',
 '000 people streets',
 '000 people survived',
 '000 people tattooed',
 '000 people year',
 '000 performing',
 '000 performing risquÃ£',
 '000 person',
 '000 person event',
 '000 pieces',
 '000 pieces problem',
 '000 pills',
 '000 pills ecstasy',
 '000 porsche',
 '000 porsche unfaithful',
 '000 pound',
 '000 pound elephant',
 '000 pounds',
 '000 pounds aided',
 '000 pounds cash',
 '000 prize',
 '000 prize battle',
 '000 prize jasmine',
 '000 protestors',
 '000 protestors gathered',
 '000 purse',
 '000 purse important',
 '000 racket',
 '000 racket girls',
 '000 ransom',
 '000 ransom requested',
 '000 raped',
 '000 raped tens',
 '000 rattler',
 '000 rattler escaped',
 '000 ravenous',
 '000 ravenous fans',
 '000 real',
 '000 real murderer',
 '000 rebuild',
 '000 rebuild steve',
 '000 reels',
 '000 reels proceedings',
 '000 residents',
 '000 residents annual',
 '000 reward',
 '000 reward capture',
 '000 reward head',
 '000 richer',
 '000 richer leave',
 '000 ringo',
 '000 robbery',
 '000 robbery makes',
 '000 robbery mary',
 '000 robbery sent',
 '000 safe',
 '000 safe late',
 '000 sam',
 '000 sam father',
 '000 savings',
 '000 savings account',
 '000 say',
 '000 say 48',
 '000 score',
 '000 score big',
 '000 set',
 '000 set free',
 '000 set kill',
 '000 ships',
 '000 ships holding',
 '000 shortage',
 '000 shortage accused',
 '000 slave',
 '000 slave workers',
 '000 slaves',
 '000 slaves monumental',
 '000 soldiers',
 '000 soldiers cavalry',
 '000 song',
 '000 song poems',
 '000 sonita',
 '000 soon',
 '000 soon realizes',
 '000 spend',
 '000 spend nights',
 '000 square',
 '000 square foot',
 '000 square miles',
 '000 started',
 '000 started respectable',
 '000 stashed',
 '000 stashed away',
 '000 stashed loot',
 '000 stay',
 '000 stay night',
 '000 stevies',
 '000 stevies road',
 '000 stipulation',
 '000 stipulation double',
 '000 stolen',
 '000 stolen bank',
 '000 stolen gold',
 '000 stolen money',
 '000 stop',
 '000 stop closing',
 '000 story',
 '000 story involves',
 '000 stranded',
 '000 stranded countrymen',
 '000 students',
 '000 students 2008',
 '000 surprisingly',
 '000 surprisingly coup',
 '000 surviving',
 '000 surviving manner',
 '000 survivors',
 '000 survivors seven',
 '000 taken',
 '000 taken italian',
 '000 taxes',
 '000 taxes hilarious',
 '000 tickets',
 '000 tickets sold',
 '000 times',
 '000 times normal',
 '000 timmar',
 '000 tons',
 '000 tons highly',
 '000 took',
 '000 took 000',
 '000 tournament',
 '000 tournament change',
 '000 trapped',
 '000 trapped british',
 '000 uncle',
 '000 uncle bilal',
 '000 units',
 '000 units debut',
 '000 uprooted',
 '000 uprooted refugees',
 '000 visitors',
 '000 visitors year',
 '000 volts',
 '000 volts purely',
 '000 water',
 '000 water bills',
 '000 wedding',
 '000 wedding fund',
 '000 went',
 '000 went missing',
 '000 women',
 '000 women attended',
 '000 women raped',
 '000 woodstock',
 '000 worth',
 '000 worth heroin',
 '000 worth initially',
 '000 wounded',
 '000 wounded alive',
 '000 year',
 '000 year appear',
 '000 year old',
 '000 years',
 '000 years able',
 '000 years ago',
 '000 years awaiting',
 '000 years columbus',
 '000 years imhotep',
 '000 years long',
 '000 years man',
 '000 years probably',
 '000 years schooling',
 '000 years sing',
 '000 years thawing',
 '000 years time',
 '000 yen',
 '000 yen 236',
 '000 yen bail',
 '000 yen involved',
 '000 yen mother',
 '000 yen pay',
 '000 yuan',
 '000 yuan trusts',
 '000 zombies',
 '000km',
 '000km 10',
 '000km 10 000',
 '000skateboard',
 '000th',
 '000th anniversary',
 '000th anniversary marnie',
 '000th banjo',
 '000th banjo string',
 '000th time',
 '000th time paths',
 '001',
 '001 syriansÃ¢',
 '001 syriansÃ¢ according',
 '002',
 '006',
 '006 alberto',
 '006 alberto lupo',
 '007',
 '007 battles',
 '007 battles mysterious',
 '007 directed',
 '007 directed stevan',
 '007 engraved',
 '007 engraved smashes',
 '007 evil',
 '007 evil mastermind',
 '007 fights',
 '007 fights urge',
 '007 say',
 '007 sean',
 '007 sean connery',
 '007 second',
 '007 second installment',
 '007 suspicious',
 '007 suspicious living',
 '007 takes',
 '007 takes shadows',
 '007 thriller',
 '007 thriller tomorrow',
 '007 time',
 '007 time battle',
 '008',
 '008 actually',
 '008 actually attractive',
 '008 operation',
 '008 operation exterminate',
 '009',
 '009 adapted',
 '009 adapted live',
 '009 cyborg',
 '009 cyborg follows',
 '009 end',
 '009 end beginning',
 '0093',
 '0093 federation',
 '0093 federation recovered',
 '00Ã¢',
 '00Ã¢ agent',
 '00Ã¢ agent dead',
 '01',
 '01 bring',
 '01 bring night',
 '01 dvd',
 '01 dvd release',
 '01 emblematic',
 '01 emblematic challenge',
 '01 gaolors',
 '01 gaolors prisoners',
 '01 page',
 '01 page celestial',
 '01 pm',
 '01 pm 00',
 '01 september',
 '01 september 11',
 '01 sole',
 '01 sole survivor',
 '01 technology',
 '01 technology hides',
 '01 year',
 '01 year 01',
 '0123',
 '0123 generation',
 '0123 generation peace',
 '02',
 '02 dangerous',
 '02 dangerous soldier',
 '02 news',
 '02 news conference',
 '03',
 '03 love',
 '03 love somebody',
 '04',
 '04 45',
 '04 character',
 '04 character study',
 '04 don',
 '04 don reunion',
 '04 ga',
 '04 ga fÃ£',
 '04 low',
 '04 low life',
 '042',
 '042 driver',
 '042 driver delivers',
 '05',
 '05 59',
 '05 59 thÃ£',
 '05 fortress',
 '05 fortress heart',
 '05 school',
 '05 school year',
 '05pm',
 '05pm 30th',
 '05pm 30th birthday',
 '06',
 '06 05',
 '06 love',
 '06 love seventh',
 '06 monstret',
 '06 written',
 '06 written michael',
 '07',
 '07 20',
 '07 20 2014',
 '07 flintstones',
 '07 flintstones 08',
 '07 january',
 '07 january 1972',
 '077',
 '077 film',
 '077 film series',
 '077 mission',
 '077 mission bloody',
 '077 missione',
 '077 missione bloody',
 '07am',
 '07am girls',
 '07am girls burst',
 '08',
 '08 15',
 '08 caused',
 '08 caused possessed',
 '08 day',
 '08 day 09',
 '08 east',
 '08 east bucharest',
 '088',
 '088 042',
 '088 042 driver',
 '09',
 '09 01',
 '09 01 september',
 '09 crisis',
 '09 crisis triggered',
 '09 season',
 '09 season playing',
 '09 shadows',
 '09 shadows rain',
 '10',
 '10 000',
 '10 000 000',
 '10 000 additional',
 '10 000 americans',
 '10 000 amphetamines',
 '10 000 attractive',
 '10 000 bc',
 '10 000 black',
 '10 000 charity',
 '10 000 days',
 '10 000 dollars',
 '10 000 finds',
 '10 000 hours',
 '10 000 jeff',
 '10 000 killed',
 '10 000 km',
 '10 000 loser',
 '10 000 meter',
 '10 000 miles',
 '10 000 parking',
 '10 000 people',
 '10 000 performing',
 '10 000 pills',
 '10 000 richer',
 '10 000 spend',
 '10 000 stay',
 '10 000 timmar',
 '10 000 visitors',
 '10 000 water',
 '10 000 year',
 '10 000 years',
 '10 000km',
 '10 000km 10',
 '10 10',
 '10 10 project',
 '10 13',
 '10 13 1979',
 '10 15',
 '10 15 miles',
 '10 1792',
 '10 1792 king',
 '10 191',
 '10 191 world',
 '10 1996',
 '10 1996 follows',
 '10 2007',
 '10 2007 led',
 '10 2009',
 '10 2009 reporters',
 '10 act',
 '10 act medic',
 '10 album',
 '10 album charts',
 '10 apocalypse',
 '10 attitudes',
 '10 best',
 '10 best picture',
 '10 billboards',
 '10 billboards city',
 '10 billion',
 '10 billion humans',
 '10 billion plate',
 '10 billion worth',
 '10 billion yen',
 '10 brothers',
 '10 brothers sisters',
 '10 bullets',
 '10 cats',
 '10 cats 10',
 '10 cent',
 '10 cent pistol',
 '10 cent stores',
 '10 children',
 '10 children marries',
 '10 chinese',
 '10 chinese Â¼10',
 '10 chon',
 '10 chon popular',
 '10 churches',
 '10 churches burn',
 '10 clock',
 '10 clock live',
 '10 clock wire',
 '10 cloverfield',
 '10 cloverfield lane',
 '10 concerned',
 '10 concerned widening',
 '10 consider',
 '10 consider gone',
 '10 contestants',
 '10 contestants compete',
 '10 countries',
 '10 countries 80',
 '10 country',
 '10 country best',
 '10 daughter',
 '10 daughter young',
 '10 day',
 '10 day gambling',
 '10 days',
 '10 days andie',
 '10 days chief',
 '10 days editor',
 '10 days later',
 '10 days madhouse',
 '10 days pby',
 '10 diggstown',
 '10 diggstown men',
 '10 disc',
 '10 disc ultimate',
 '10 downing',
 '10 downing st',
 '10 earthquake',
 '10 event',
 '10 event finishes',
 '10 family',
 '10 family members',
 '10 feels',
 '10 feels bored',
 '10 guy',
 '10 guy like',
 '10 head',
 '10 head auction',
 '10 hour',
 '10 hour docudrama',
 '10 hour episodes',
 '10 hours',
 '10 hours 10',
 '10 hours long',
 '10 intriguing',
 '10 intriguing different',
 '10 items',
 '10 job',
 '10 job 30',
 '10 lakhs',
 '10 lakhs worth',
 '10 led',
 '10 led colonel',
 '10 left',
 '10 left wang',
 '10 live',
 '10 live edge',
 '10 ll',
 '10 ll 11',
 '10 machine',
 '10 machine pistol',
 '10 magnitude',
 '10 magnitude richter',
 '10 makes',
 '10 makes hero',
 '10 meets',
 '10 meets air',
 '10 messages',
 '10 messages intended',
 '10 meter',
 '10 meter tower',
 '10 midnight',
 '10 million',
 '10 million 22',
 '10 million album',
 '10 million bank',
 '10 million day',
 '10 million dollar',
 '10 million dollars',
 '10 million eighteen',
 '10 million estate',
 '10 million exchange',
 '10 million need',
 '10 million picture',
 '10 million robbery',
 '10 million step',
 '10 millionaires',
 '10 millionaires world',
 '10 millions',
 '10 millions unemployed',
 '10 mini',
 '10 mini series',
 '10 minute',
 '10 minute long',
 '10 minutes',
 '10 minutes doesn',
 '10 minutes family',
 '10 minutes figure',
 '10 minutes follow',
 '10 minutes footage',
 '10 minutes joke',
 '10 minutes profit',
 '10 mission',
 '10 mission boys',
 '10 month',
 '10 month garage',
 '10 months',
 '10 months jail',
 '10 mother',
 '10 mother 14',
 '10 navarone',
 '10 new',
 '10 new students',
 '10 nicknamed',
 '10 nicknamed crow',
 '10 oÃ¢',
 '10 oÃ¢ clock',
 '10 parts',
 '10 parts covering',
 '10 people',
 '10 people finished',
 '10 people wake',
 '10 piece',
 '10 piece gospel',
 '10 pm',
 '10 pm end',
 '10 popular',
 '10 popular silly',
 '10 prisoner',
 '10 prisoner sun',
 '10 private',
 '10 private bedrooms',
 '10 project',
 '10 project initiated',
 '10 questions',
 '10 questions dalai',
 '10 rillington',
 '10 rillington place',
 '10 round',
 '10 round exhibition',
 '10 rules',
 '10 rules sleeping',
 '10 seat',
 '10 seat sushi',
 '10 second',
 '10 second chronicles',
 '10 shares',
 '10 shares international',
 '10 short',
 '10 short stories',
 '10 song',
 '10 song 11',
 '10 stories',
 '10 stories intertwining',
 '10 story',
 '10 story high',
 '10 students',
 '10 students record',
 '10 survivors',
 '10 survivors marooned',
 '10 survivors riddick',
 '10 takes',
 '10 takes revenge',
 '10 tasked',
 '10 tasked mission',
 '10 tasveer',
 '10 things',
 '10 things hate',
 '10 things wants',
 '10 thousand',
 '10 thousand miles',
 '10 thriller',
 '10 thriller 11',
 '10 title',
 '10 title indicator',
 '10 train',
 '10 train yuma',
 '10 unique',
 '10 unique happenings',
 '10 western',
 '10 western railway',
 '10 women',
 '10 women family',
 '10 woodsman',
 '10 woodsman suddenly',
 '10 year',
 ...]

# Q7  Create cosine similarity matrix

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim_titles = cosine_similarity(title_matrix)

# Q8  Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

Hint:

titles = df['title'] <br>
indices = pd.Series(df.index, index=df['title']) <br>

def recommend(title): <br>
    idx = indices[title] <br>
    sim_scores = list(enumerate(cosine_similarities[idx])) <br>
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) <br>
    sim_scores = sim_scores[1:31] <br>
    movie_indices = [i[0] for i in sim_scores] <br>
    return titles.iloc[movie_indices] <br>

In [19]:
titles = movies_ratings_df['title'] 
indices = pd.Series(movies_ratings_df.index, index=movies_ratings_df['title'])

In [20]:
def recommend(title): 
    idx = indices[title] 
    sim_scores = list(enumerate(cosine_sim_titles[idx])) 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) 
    sim_scores = sim_scores[1:11] 
    movie_indices = [i[0] for i in sim_scores] 
    return titles.iloc[movie_indices]

# Q9 Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [21]:
recommend('The Dark Knight Rises')

12075                                      The Dark Knight
150                                         Batman Forever
585                                                 Batman
18902              Batman: The Dark Knight Returns, Part 1
8993                    Batman Beyond: Return of the Joker
20194    Batman Unmasked: The Psychology of the Dark Kn...
12425                                Batman: Gotham Knight
19308              Batman: The Dark Knight Returns, Part 2
1325                                        Batman Returns
14924                           Batman: Under the Red Hood
Name: title, dtype: object

In [22]:
recommend('The Godfather')

1176               The Godfather: Part II
40982    The Godfather Trilogy: 1972-1990
29997                    Honor Thy Father
11608          The Cave of the Yellow Dog
17533                     The Outside Man
1908              The Godfather: Part III
35502            A Mother Should Be Loved
21969                          Blood Ties
28369                             Maqbool
29                         Shanghai Triad
Name: title, dtype: object

In [23]:
recommend('Transformers')

13342    Transformers: Revenge of the Fallen
41715          Transformers: The Last Knight
3839             The Transformers: The Movie
16584         Transformers: Dark of the Moon
22407        Transformers: Age of Extinction
35560                             Son of Sam
23625                            Amira & Sam
4825                                I Am Sam
22823                                 Career
22486                    Bullet for a Badman
Name: title, dtype: object

# Popularity Based Recommendation System

### About Dataset

Anonymous Ratings on jokes.

1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").

2. One row per user

3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

# Q10 Read the dataset(jokes.csv)

Take care about the header in read_csv() as there are no column names given in the dataset.

In [24]:
jokes_df = pd.read_csv("jokes-1.csv",encoding = "ISO-8859-1")

In [25]:
jokes_df.head()

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [26]:
jokes_df.shape

(24983, 101)

# Q11 Consider `ratings` named dataframe with only first 200 rows and all columns from 1(first column is 0) of dataset

In [27]:
ratings_df = jokes_df.iloc[0:200,1:]

In [28]:
ratings_df.shape

(200, 100)

In [29]:
ratings_df.head()

,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,Joke10,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

# Q12 Change the column indices from 0 to 99

In [30]:
ratings_df.columns = np.arange(len(ratings_df.columns))

In [31]:
ratings_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

# Q13 In the dataset, the null ratings are given as 99.00, so replace all 99.00s with 0
Hint: You can use `ratings.replace(<the given value>, <new value you wanted to change with>)`

In [32]:
ratings_df.replace(99.00,0)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,0.00,0.00,0.00,0.00,0.00,-5.63,0.00,0.00,0.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,0.00,0.00,0.00,0.00,9.03,9.27,9.03,9.27,0.00,0.00,...,0.00,0.00,0.00,9.08,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,8.35,0.00,0.00,1.80,8.16,-2.82,6.21,0.00,1.84,...,0.00,0.00,0.00,0.53,0.00,0.00,0.00,0.00,0.00,0.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
5,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,-1.80,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
6,0.00,0.00,0.00,0.00,8.59,-9.85,7.72,8.79,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,2.33,0.00,0.00,0.00,0.00
7,6.84,3.16,9.17,-6.21,-8.16,-1.70,9.27,1.41,-5.19,-4.42,...,7.23,-1.12,-0.10,-5.68,-3.16,-3.35,2.14,-0.05,1.31,0.00
8,-3.79,-3.54,-9.42,-6.89,-8.74,-0.29,-5.29,-8.93,-7.86,-1.60,...,4.37,-0.29,4.17,-0.29,-0.29,-0.29,-0.29,-0.29,-3.40,-4.95
9,3.01,5.15,5.15,3.01,6.41,5.15,8.93,2.52,3.01,8.16,...,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,-2.91,4.08,0.00,0.00,-5.73,0.00,2.48,-5.29,0.00,1.46,...,0.00,6.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,1.31,1.80,2.57,-2.38,0.73,0.73,-0.97,5.00,-7.23,-1.36,...,1.46,1.70,0.29,-3.30,3.45,5.44,4.08,2.48,4.51,4.66
12,0.00,0.00,0.00,0.00,5.87,0.00,5.58,0.53,0.00,7.14,...,0.00,0.00,7.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,9.22,9.27,9.22,8.30,7.43,0.44,3.50,8.16,5.97,8.98,...,8.11,-1.02,5.58,6.84,5.53,-5.92,8.20,8.98,-8.16,6.50
14,8.79,-5.78,6.02,3.69,7.77,-5.83,8.69,8.59,-5.92,7.52,...,2.72,-5.49,-8.59,8.69,-8.74,-3.01,8.30,-4.81,-2.38,-5.97
15,-3.50,1.55,2.33,-4.13,4.22,-2.28,-2.96,-0.49,2.91,1.99,...,3.11,1.70,0.24,-5.92,7.28,-1.36,3.74,2.82,-2.86,3.45
16,0.00,-9.27,0.00,0.00,-7.38,0.00,8.74,-6.31,0.00,2.33,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,3.16,7.62,3.79,8.25,4.22,7.62,2.43,0.97,0.53,0.83,...,0.83,5.68,3.69,0.19,0.29,3.59,0.49,8.06,0.49,7.62
18,4.22,3.64,0.00,0.00,2.52,0.00,4.13,-5.19,0.00,7.91,...,0.00,0.05,0.00,0.00,0.00,0.00,1.65,0.00,0.00,0.00
19,0.00,7.62,0.00,0.00,-8.64,2.43,8.93,-6.60,0.00,-9.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,2.57,-0.73,0.00,0.00,2.57,0.00,-4.22,2.67,0.00,-1.31,...,0.00,1.31,0.00,0.00,0.00,0.00,1.02,0.00,0.00,0.00
21,7.28,5.39,0.00,0.00,-4.22,0.00,8.93,3.50,0.00,6.12,...,0.00,-1.55,0.00,0.00,0.00,0.00,0.29,-4.61,0.00,0.00
22,2.72,4.17,6.50,-3.54,-3.30,2.86,7.04,4.95,6.17,8.93,...,0.00,-3.35,0.00,0.00,0.00,2.67,0.00,0.00,0.00,0.00
23,2.09,-7.57,4.17,-8.40,-6.31,5.34,-5.19,-5.05,-8.20,2.28,...,3.06,8.25,8.50,-9.51,8.45,8.16,7.82,8.50,8.35,-8.35
24,-3.93,-1.17,2.28,-0.44,-2.28,2.38,-3.93,4.51,-0.34,7.77,...,0.00,0.00,0.00,0.00,0.00,0.00,-1.50,-6.07,1.26,0.10
25,0.00,5.49,3.45,0.00,0.15,4.76,0.10,4.13,8.01,4.76,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,0.00,5.83,0.00,0.00,5.34,0.00,-4.47,2.18,-3.98,-3.25,...,0.00,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0.49,0.15,0.15,-9.56,-9.76,-9.61,0.29,1.65,-4.61,-4.71,...,0.00,0.00,0.00,0.00,-0.97,0.00,0.00,0.00,0.00,0.00
28,0.00,0.00,0.00,0.00,-1.70,0.00,8.83,-1.89,0.00,0.00,...,0.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,0.00,4.08,0.00,0.00,5.87,0.00,0.44,2.28,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,0.00,0.00,0.00,0.00,4.27,0.00,4.81,-6.21,0.00,0.00,...,0.00,0.00,8.54,0.00,0.00,0.00,0.00,0.00,0.00,0.00
171,-4.56,-3.74,-2.67,0.00,-3.40,0.63,-5.34,0.44,5.34,4.08,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
172,0.00,0.00,0.00,0.00,4.37,0.00,-3.40,1.12,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,5.05,0.00,0.00,0.00,0.00
173,0.00,0.00,0.00,0.00,0.34,0.00,-1.65,0.83,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,-1.75,0.00,0.00,0.00
174,0.00,0.00,0.00,0.00,-4.32,0.00,3.45,4.37,0.00,5.73,...,0.00,0.00,0.00,0.00,7.14,0.00,0.00,0.00,0.00,0.00
175,-9.42,8.83,8.45,8.64,5.73,8.45,6.89,4.56,-9.42,-9.22,...,0.00,0.00,0.00,0.00,0.00,0.00,6.12,0.00,0.00,0.00
176,-3.54,-3.20,1.12,3.83,3.30,-2.33,-0.19,2.33,0.05,1.17,...,0.49,-4.22,1.50,1.02,-3.74,2.28,-1.65,2.09,-5.97,2.18
177,5.39,0.24,0.00,0.00,-6.55,0.00,-8.35,3.40,0.00,-4.42,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
178,0.00,0.00,0.00,0.00,4.13,8.40,8.54,3.59,0.00,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
179,4.42,-5.05,0.00,0.00,1.55,0.00,6.60,2.18,0.00,-4.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.24,0.00,0.00
180,0.00,0.00,0.00,0.00,5.10,0.00,-6.31,1.21,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
181,5.44,0.49,0.00,0.00,-1.21,0.00,0.29,-0.63,0.00,5.53,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
182,0.00,-8.98,-9.66,0.00,-6.12,-7.91,-7.14,-5.24,0.00,-9.17,...,0.00,0.00,-2.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00
183,8.30,8.20,4.95,0.00,0.78,0.00,5.78,-2.77,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
184,-8.16,-7.86,-1.02,0.00,0.34,0.00,0.49,-0.29,0.00,2.14,...,0.00,-8.74,0.00,-7.91,0.00,0.00,0.00,0.00,0.00,0.00
185,-2.86,-6.31,-4.90,1.89,3.01,8.11,4.81,1.60,-4.95,9.03,...,0.00,0.00,0.00,0.00,7.38,0.00,0.00,0.00,-6.65,7.18
186,-0.10,-5.68,1.50,-7.72,-7.91,1.12,-1.21,-3.74,-3.25,-1.89,...,0.00,0.00,-2.48,0.00,0.00,0.00,0.00,0.00,0.00,0.00
187,-6.31,-1.94,0.00,0.00,3.69,0.00,-4.08,3.06,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
188,0.00,0.00,0.00,0.00,8.16,0.15,4.03,7.67,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
189,0.00,-3.16,-3.45,0.00,2.96,-1.65,1.75,-4.42,0.00,-1.21,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
190,3.54,-6.70,-4.76,0.00,-8.16,0.00,1.84,-6.84,0.00,1.31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
191,4.47,-0.19,1.55,-1.50,-4.42,4.22,-2.38,1.46,-0.39,-5.39,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
192,8.06,3.45,3.69,-1.36,3.93,2.14,2.77,0.34,2.52,3.69,...,5.78,5.05,5.68,-2.86,2.86,7.09,5.68,7.48,8.59,2.23
193,1.84,-2.23,5.49,5.49,4.37,9.22,9.08,5.78,-3.40,6.50,...,-5.29,-1.26,6.21,-2.96,-1.02,-6.17,4.90,9.22,8.16,6.80
194,-9.71,-8.25,-8.30,-2.62,-8.93,-0.05,2.18,4.47,1.21,2.38,...,4.61,-9.22,-6.50,3.25,2.62,1.99,8.74,-6.55,-0.53,-8.59
195,5.73,0.00,-0.58,1.75,2.86,7.23,2.04,-4.27,3.11,7.14,...,1.70,4.66,1.65,5.58,5.73,3.50,0.00,-2.04,2.91,1.84
196,1.80,5.39,8.06,-0.10,4.81,4.66,-7.09,-7.72,3.69,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
197,2.62,-3.79,-1.17,-0.44,-1.02,5.05,-3.69,2.18,3.30,-0.73,...,1.41,-2.52,-0.53,-1.89,1.17,-2.04,-1.17,-0.73,0.73,0.44
198,0.00,0.00,0.00,0.00,7.91,0.00,3.64,-1.89,0.00,0.00,...,2.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
199,5.58,-7.28,-4.56,2.67,7.38,2.18,2.14,2.23,5.58,-4.51,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Q14 Normalize the ratings using StandardScaler and save them in `ratings_diff` variable

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [34]:
ratings_diff =  sc.fit(ratings_df)

### Popularity based recommendation system

# Q15  Find the mean for each column  in `ratings_diff` i.e, for each joke
Consider all the mean ratings and find the jokes with highest mean value and display the top 10 joke IDs.

In [35]:
data = sc.mean_

In [36]:
mean_df = pd.DataFrame(data)

In [37]:
mean_df.head()

          0
0  29.73505
1  18.90890
2  34.88765
3  45.33400
4  -0.03790

In [38]:
mean_df.sort_values(by=[0], ascending = False).head(10)

           0
88  68.26785
74  68.16485
76  68.03305
75  67.99045
71  67.94600
79  67.89735
72  67.68100
78  67.09945
77  67.05365
73  66.91115

In [39]:
# Above are the Top 10 Joke IDs basis the average of the ratings for the jokes. 
# Index Ids are the joke IDs